<div fxLayout="column"> 
    <div fxLayout="row" >
        <div fxFlex="70" fxFlexOffset="15">
            <h1 class="font-blue">($ Dream Bank</h1>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="50%" fxFlexOffset="25%">
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">
                    <mat-card-subtitle >
                        <span class="font-blue-24 custom-subtitle">Welcome back</span>
                        <mat-divider class="underline" [inset]="true"></mat-divider>
                    </mat-card-subtitle>

                    <mat-card-title class="custom-title">
                        <span class="font-blue-44">Login</span>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>
