@import '../../../styles.scss';

.underline-title{
    border-top-color: $secundary;
    border-top-width: 3px !important;
    border-radius: 100px !important;
    width: 10%;
}

.container-succes{
    margin-top: 10em;
}

.button-success{
    margin: 2em;
    width: 30%;
    font-size: 20px;
}

.title-dark{
    font-size: 44px;
    font-weight: 400;
    margin: 1em;
}